apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: project
  name: todobackend-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todobackend
  template:
    metadata:
      labels:
        app: todobackend
    spec: 
      containers:
        - name: todobackend
          image: opeyemiorugun/todoapi:v1.0
          imagePullPolicy: Always  
