apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: exercises
  name: logpong-claim # name of the volume claim, this will be used in the deployment
spec:
  storageClassName: logpinpong-pv # this is the name of the persistent volume we are claiming
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi