apiVersion: v1
kind: ConfigMap
metadata:
  namespace: project
  name: project-config
data:
  # property-like keys; each key maps to a simple value
  todo_app_url: "http://localhost:8081/todos"
  image_service_url: "https://picsum.photos/200/300"
  timer_interval: "600"